body {
		background-color: rgb(253,252,247);
		font-family: Georgia;
		font-size: 16px;
		max-width: 85ch;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		float: none;
}

@media only screen and (max-device-width: 600px) {
        body {
					-webkit-text-size-adjust:100%;
					font-size: 34px;
				}
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
